DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

RAJAONGKIR_DELIVERY_API_KEY=
RAJAONGKIR_DELIVERY_BASE_URL=https://api-sandbox.collaborator.komerce.id

RAJAONGKIR_COST_API_KEY=
RAJAONGKIR_COST_BASE_URL=https://api-sandbox.collaborator.komerce.id/order/api/v1
